<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bone Cancer Detection</title>
</head>
<body>
    <h1>Bone Cancer Detection System</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="name">Patient Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="image">Upload Cancer X-ray Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        <input type="submit" value="Upload">
    </form>

    <h1>Detection Results for Umang</h1>
    <p><strong>Cancer Type:</strong>Chondrosarcoma</p>
    <p><strong>Detection Accuracy:</strong> 97% </p>
    <p><strong>Stage:</strong> Stage 2  </p>
    <p><strong>Pain Level:</strong>Severe Medicine</p>
    <p><strong>Tips:</strong>Targeted therapy and surgery options </p>
    <p><strong>Growth Chance:</strong>68%</p>
    <p><strong>Cure Chance:</strong>48%</p>
    <p><strong>Survival Chance:</strong>56%</p>
    <p><strong>Death Ratio:</strong>1 in 10</p>
    <p><strong>Next Appointment:</strong>12/10/24</p>
</body>
</html>
